// text inputs
input, textarea {
    color: white;

    // border
    border-radius: $border-size;
    border: 1px solid hsla(240, 6%, 30%, 0.63);

    // shadow
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));

    // spacing
    padding: 15px;

    // focus colors
    &:focus {
        outline: none;
        border-color: rgba(255, 255, 255, 0.3);
    }

    // override the default browser autofil settings
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: #ffffff;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px #23232329;
    }

    transition: all 0.3s ease;
}