.switch {
    display: flex;
    align-items: center;
    gap: 10px; // Adjust the spacing between toggle and text

    .toggle {
        position: relative;
        display: flex;
        width: 54px;
        height: 31px;
        padding: 2px 2px 2px 6px;
        justify-content: flex-end;
        align-items: center;

        input[type="checkbox"] {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border-radius: 100px;

    &:before {
        content: "";
        position: absolute;
        width: 27px;
        height: 27px;
        left: 4px;
        bottom: 4px;
        border-radius: 50%;
    }
}

.label-text {
    font-size: 16px;
    color: #fff; // Adjust the text color as needed
    user-select: none;
}