@import "../../materials/main.scss";

// Transition variable for reusability
$transitionTime: 0.4s;

.switch {
    input[type="checkbox"] {
        &:checked+.slider {
            background: $blue1;

            // Apply green color when the slider has the `green` class
            &.green {
                background: $green1;
            }
        }

        &:focus+.slider {
            box-shadow: 0 0 1px $blueShadow1;
        }

        &:checked+.slider:before {
            transform: translateX(27px);
        }
    }
}

.slider {
    background: $gray4;
    background-blend-mode: overlay, luminosity;
    transition: $transitionTime;

    &:before {
        background: #fff;
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04),
            0px 3px 8px 0px rgba(0, 0, 0, 0.15),
            0px 3px 1px 0px rgba(0, 0, 0, 0.06);
        transition: $transitionTime;
    }
}