$sizes: (
    /* height, vertical padding, horizontal padding, border radius, text size, line height */
    small: (28px, 4px, 10px, 40px, 15px, 20px, -0.23px),
    medium: (35px, 7px, 14px, 12px, 15px, 20px, -0.23px),
    large: (50px, 14px, 20px, 12px, 17px, 22px, -0.43px)
);

@mixin button-style($height, $paddingVertical, $paddingHorizontal, $borderRadius_, $fontSize, $lineHeight, $letterSpacing) {
    height: $height;

    padding: $paddingVertical $paddingHorizontal;

    border-radius: $borderRadius_;
    border: none;

    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;

    cursor: pointer;
}

$ocs-alert-buttons: (
    red: var(--red),
    yellow: var(--warn),
    green: var(--green)
);