@import "../../materials/main.scss";
@import "states";
@import "includes";

// FILLED BUTTONS =========
button, .primary {
    // this is the default button style
    color: $white1;
    background-color: rgba(80, 80, 80, 0.7);

    @include hover-darken(rgba(80, 80, 80, 0.7));
    @include active-darken(rgba(80, 80, 80, 0.7));
}

.secondary {
    color: #999999;
    background-color: rgba(120, 120, 128, 0.12);

    @include hover-darken(rgba(120, 120, 128, 0.12));
    @include active-darken(rgba(120, 120, 128, 0.12));
}

.filledHighlight {
    background-color: #007aff;

    @include hover-darken(#007aff);
    @include active-darken(#007aff);
}

.filledTinted {
    color: #007aff;
    background-color: rgba(0, 122, 255, 0.15);

    @include hover-darken(rgba(0, 122, 255, 0.15));
    @include active-darken(rgba(0, 122, 255, 0.15));
}