/* Shake animation for Save button */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-15px);
    }

    50% {
        transform: translateX(15px);
    }

    75% {
        transform: translateX(-15px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake-animation {
    animation: shake 0.3s ease-in-out;
}